{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Mohammad Hafizh Dwiandra R</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock meta %}
{% block content %}
      <div class="container">
        <div class="row">
          <div class="col-md-4 compfest">
            <img class="cmpfst" src="{% static 'logocompfest-removebg-preview.png' %}" style="width: 270px;height: 270px;background-color: black;margin-top: 1.5vh;margin-left: 1.5vh;max-width: 92%;height: auto;">
            <br>
            <br>
            <h4>Compfest 12</h4>
            <h5>2020</h5>
            <p>Staff of Stage Division</p>
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-4 perak">
            <img class="prk" src="{% static 'perak-removebg-preview.png' %}" style="width: 270px;height: 270px;background-color: white;margin-top: 1.5vh;margin-left: 1.5vh;max-width: 92%;height: auto;">
            <br>
            <br>
            <h4>Pesta Rakyat Komputer Fasilkom</h4>
            <h5>2020</h5>
            <p>Staff of Games Division</p>
          </div>
          </div>
        </div>
      </div>
{% endblock content %}
