{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Mohammad Hafizh Dwiandra R</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock meta %}
{% block content %}
<h1 style="margin-top: 70px;font-family: Product Sans; text-align: center; color: beige;">Biodata</h1>
<p><img src="{% static 'saya.png' %}" alt="Myself bruh" style="float:left;height:250px;margin-right: 40px;margin-top: 10px;margin-left: 30px;"></p>
<div class="story1" style="margin-top: 10px;">
<p>Nama: Mohammad Hafizh Dwiandra Ramadhan</p>
<p>NPM: 1906398383</p>
<p>Angkatan: 2019</p>
<p>Hobi: Mencari waktu luang</p>
<p>Deskripsi: Friendly</p>
<p>Tempat Kuliah: Fasilkom UI</p>
<p>Riwayat Pendidikan:
    <table style="width:50%">
        <tr>
          <th>Jenjang</th>
          <th>Nama Sekolah</th> 
          <th>Tahun Studi</th>
        </tr>
        <tr>
          <td>SD</td>
          <td>Bhakti YKKP</td>
          <td>2006-2013</td>
        </tr>
        <tr>
          <td>SMP</td>
          <td>Labschool Kebayoran</td>
          <td>2013-2016</td>
        </tr>
        <tr>
          <td>SMA</td>
          <td>Labschool Kebayoran</td>
          <td>2016-2019</td>
        </tr>
      </table>
</p>
</div>
<p>
  <table1 style="float: right;">
    <tr1>
      <th1><a href="https://www.linkedin.com/in/mohammad-hafizh-dwiandra-ramadhan-5251231a3/"><img src="{% static 'linkedin.png' %}" style="height: 40px;"></a></th1>
      <th1><a href="https://vsco.co/memahafizh/gallery"><img src="{% static 'vsco.jpeg' %}" style="height: 40px;"></a></th1>
      <th1><a href="https://www.instagram.com/memahafizh/"><img src="{% static 'ig.png' %}" style="height: 40px;"></a></th1>
    </tr1>
  </table1>
</p>
{% endblock content %}